<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title >Home</title>
</head>
<body>
<th:block >

    <div th:if="${user==null}">
        <p><a th:href="@{/login}" >Generated list of login choices</a></p>
        <p><form method="post" th:action="@{/oauth2/authorization/google}"><button class="btn btn-outline-primary" type="submit">Login Google</button></form>
        <p><form method="post" th:action="@{/oauth2/authorization/muni}"><button class="btn btn-outline-primary" type="submit">Login MUNI</button></form>
    </div>
    <div th:if="${user}">
        <h1>User already logged in. see <a href="/token">/token</a> for token</h1>
        <p><form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button></form></p>
    </div>




</th:block>
</body>
</html>